cms.buddhiko.com {
  reverse_proxy http://10.0.0.15:9000
}

docker.buddhiko.com {
  reverse_proxy http://10.0.0.15:10000
}

www.buddhiko.com {
  encode gzip
  handle {
    root * /srv/pali-web
    try_files {path} /index.html
    file_server
  }
}

file.buddhiko.com {
  encode zstd gzip
  root * /srv/files
  file_server browse
}
