cms.buddhiko.com {
  reverse_proxy http://host.docker.internal:9000
}

cloud.buddhiko.com {
  reverse_proxy http://host.docker.internal:30000
}

docker.buddhiko.com {
  reverse_proxy http://host.docker.internal:10000
}

www.buddhiko.com {
  encode gzip
  handle {
    root * /srv/web
    try_files {path} /index.html
    file_server
  }
}

file.buddhiko.com {
  encode gzip zstd
  root * /srv/uploads
  file_server browse
}

git.buddhiko.com {
  reverse_proxy https://github.com {
    header_up Host {upstream_hostport}
    header_up X-Forwarded-Host {host}
    header_up origin https://github.com
    header_down location (https://github.com/)(.*) https://git.buddhiko.com/$2
  }
}
