cms.buddhiko.com {
  reverse_proxy {env.DIRECTUS_IP}:9000
}

www.buddhiko.com {
  encode gzip
  handle {
    root * /srv/pali-web
    try_files {path} /index.html
    file_server
  }
}

file.buddhiko.com {
  encode zstd gzip
  root * /srv
  file_server browse
}
